<% 
    imageHelper = (pathUpload,imgname,width=null) => {
        
        if(imgname == undefined || imgname == '') {
            imgname = 'noImage.jpg';
        }

        return `<td class="text-center"><img class="img-thumbnail" style="max-width: 150px" src="${pathUpload +imgname}" alt=""></td>`;
    }
%>




