<% 
    sourceByHelper = (user_name, time) => { 
        let xhtmlResult = `<i class="fas fa-user text-info"> </i><span class=""> ${user_name}</span></br>
								
                            <i class="far fa-clock text-info"> </i><span class=""> ${time}</span>
    `;
        
        return xhtmlResult;
    } 
%>