<section id="ourClientSay" class="py-5" >
    <div class="section-tittle">
        <div class="container text-center">
            <div class="border-tittle"></div>
            <h3>ĐÁNH GIÁ</h3>
            <h2>Cảm nhận từ khách hàng</h2>
        </div>
    </div>
    <div class="container">
        
        <div class="owl-carousel owl-theme text-center py-3 owl-loaded owl-drag" id="banner2">
            <div class="owl-stage-outer">
                <div class="owl-stage"
                    style="transform: translate3d(-1432px, 0px, 0px); transition: all 0s ease 0s; width: 5012px;">
                    <div class="owl-item cloned" style="width: 696px; margin-right: 20px;">
                        <div class="item py-3" style="border-left: 5px solid #C48C46;">
                            <div class="ourClientSay-item " >
                                <div class="row">
                                    <div class="col-4 ">
                                        
                                        <img src="frontend/assets/img/comments/customer (1).jpg" alt="" class="w-50 rounded-circle " style="margin: 50px auto;border: 1px solid rgba(163, 150, 150, 0.5); padding: 5px; ">
                                    
                                    </div>
                                    <div class="col-8">
                                        <p class=" mx-auto" style="text-align: left">“Thấy cậu bạn đã đặt thiết kế bên ivyRich đẹp nên mình cũng đặt thiết kế. Cũng may nhờ cậu ấy giới thiệu mà mình được giảm 50% phí thiết kế. Vào tháng 5 nhà mình đã hoàn thiện, thật đẹp như thiết kế” 
                                        </p>
                                        <div class="d-flex flex-wrap justify-content-left align-items-center" style="position: relative;">
                                            
                                            <div class="ps-3">
                                                <h6 class="text-primary pt-4">Alden Smith</h6>
                                                <i class="fas fa-star text-primary"></i><i class="fas fa-star text-primary"></i><i class="fas fa-star text-primary"></i><i class="fas fa-star text-primary"></i><i class="fas fa-star"></i>
                                            </div>
                                            <img src="frontend/assets/img/comments/ngoac.png" alt="" style="width:60px; position: absolute; right: 10px;opacity: 0.5;">
                                        </div>
                                </div>
                            </div>

                            </div>

                        </div>
                        
                    </div>
                    <div class="owl-item " style="width: 696px; margin-right: 20px;">
                        <div class="item py-3" style="border-left: 5px solid #C48C46;">
                            <div class="ourClientSay-item " >
                                <div class="row">
                                    <div class="col-4 ">
                                        
                                        <img src="frontend/assets/img/comments/customer (2).jpg" alt="" class="w-50 rounded-circle " style="margin: 50px auto;border: 1px solid rgba(163, 150, 150, 0.5); padding: 5px; ">
                                    
                                    </div>
                                    <div class="col-8">
                                        <p class=" mx-auto" style="text-align: left">“Hàng tuần tôi gặp rất nhiều bên chào mời thiết kế và làm đồ nội thất, cho đến khi chọn ivyRich luôn cho tôi cảm giác an tâm trong từng giai đoạn của thiết kế. Luôn có nhiều hơn 1 phương án để lựa chọn. Và giờ là chờ bàn giao để thi công.” 
                                        </p>
                                        <div class="d-flex flex-wrap justify-content-left align-items-center" style="position: relative;">
                                            
                                            <div class="ps-3">
                                                <h6 class="text-primary pt-4">Alden Smith</h6>
                                                <i class="fas fa-star text-primary"></i><i class="fas fa-star text-primary"></i><i class="fas fa-star text-primary"></i><i class="fas fa-star text-primary"></i><i class="fas fa-star"></i>
                                            </div>
                                            <img src="frontend/assets/img/comments/ngoac.png" alt="" style="width:60px; position: absolute; right: 10px;opacity: 0.5;">
                                        </div>
                                </div>
                            </div>

                            </div>

                        </div>
                        
                    </div>
                    <div class="owl-item " style="width: 696px; margin-right: 20px;">
                        <div class="item py-3" style="border-left: 5px solid #C48C46;">
                            <div class="ourClientSay-item " >
                                <div class="row">
                                    <div class="col-4 ">
                                        
                                        <img src="frontend/assets/img/comments/customer (1).jpg" alt="" class="w-50 rounded-circle " style="margin: 50px auto;border: 1px solid rgba(163, 150, 150, 0.5); padding: 5px; ">
                                    
                                    </div>
                                    <div class="col-8">
                                        <p class=" mx-auto" style="text-align: left">“Thấy cậu bạn đã đặt thiết kế bên ivyRich đẹp nên mình cũng đặt thiết kế. Cũng may nhờ cậu ấy giới thiệu mà mình được giảm 50% phí thiết kế. Vào tháng 5 nhà mình đã hoàn thiện, thật đẹp như thiết kế” 
                                        </p>
                                        <div class="d-flex flex-wrap justify-content-left align-items-center" style="position: relative;">
                                            
                                            <div class="ps-3">
                                                <h6 class="text-primary pt-4">Alden Smith</h6>
                                                <i class="fas fa-star text-primary"></i><i class="fas fa-star text-primary"></i><i class="fas fa-star text-primary"></i><i class="fas fa-star text-primary"></i><i class="fas fa-star"></i>
                                            </div>
                                            <img src="frontend/assets/img/comments/ngoac.png" alt="" style="width:60px; position: absolute; right: 10px;opacity: 0.5;">
                                        </div>
                                </div>
                            </div>

                            </div>

                        </div>
                        
                    </div>
                    <div class="owl-item " style="width: 696px; margin-right: 20px;">
                        <div class="item py-3" style="border-left: 5px solid #C48C46;">
                            <div class="ourClientSay-item " >
                                <div class="row">
                                    <div class="col-4 ">
                                        
                                        <img src="frontend/assets/img/comments/customer.jpg" alt="" class="w-50 rounded-circle " style="margin: 50px auto;border: 1px solid rgba(163, 150, 150, 0.5); padding: 5px; ">
                                    
                                    </div>
                                    <div class="col-8">
                                        <p class=" mx-auto" style="text-align: left">“Thấy cậu bạn đã đặt thiết kế bên ivyRich đẹp nên mình cũng đặt thiết kế. Cũng may nhờ cậu ấy giới thiệu mà mình được giảm 50% phí thiết kế. Vào tháng 5 nhà mình đã hoàn thiện, thật đẹp như thiết kế” 
                                        </p>
                                        <div class="d-flex flex-wrap justify-content-left align-items-center" style="position: relative;">
                                            
                                            <div class="ps-3">
                                                <h6 class="text-primary pt-4">Alden Smith</h6>
                                                <i class="fas fa-star text-primary"></i><i class="fas fa-star text-primary"></i><i class="fas fa-star text-primary"></i><i class="fas fa-star text-primary"></i><i class="fas fa-star"></i>
                                            </div>
                                            <img src="frontend/assets/img/comments/ngoac.png" alt="" style="width:60px; position: absolute; right: 10px;opacity: 0.5;">
                                        </div>
                                </div>
                            </div>

                            </div>

                        </div>
                        
                    </div>

                    
                    
                </div>
            </div>	
    </div>
        </div>

</section>