<section>
    <div class="container py-4">
        <p style="text-align: center;"><span style="color: #282828; font-size: 100%;"><b>PHÁT TỜ RƠI 48H</b>&nbsp;được thành lập năm 2014 là một trong những đơn vị phát tờ rơi hàng đầu tại TP. HCM với các dịch vụ phát tờ rơi từng nhà, trường học, tòa nhà văn phòng, phát tờ rơi theo điểm, phát có chọn lọc….Dịch vụ dán poster, treo phướn, băng rôn… Cũng như kết hợp trọn gói In offset như in các ấn phẩm tờ rơi, catalogue, poster, namecard, nhãn decal, hộp giấy, túi giấy… với chi phí thấp và ưu đãi nhất.&nbsp;</span><br><span style="color: #282828; font-size: 100%;"><i><b>Cam kết:</b></i></span><br><span style="color: #282828; font-size: 100%;"><i>− Hình ảnh chất lượng, sắc nét<br>− Có khả năng in trên nhiều bề mặt, bao gồm cả bề mặt không phẳng<br>− Đảm bảo tư vấn thiết kế mẫu mã, kích thước phù hợp với sản phẩm và ngân sách của khách hàng.</i></span></p>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><img src="frontend/assets/img/service/ctcp-thuong-mai-va-dich-vu-in-thien-phat-561766-768x502.jpg" alt="" class="w-100"></div>
            <div class="col-md-2"></div>
        </div>
    </div>

</section>