<footer class="bg-secondary py-4 footer">
	<div class="container">
	<div class="row">
		<div class="col-md-6 col-lg-3">
		<img src="/frontend/assets/img/logo/LOGO%20(4).png">
			
			<p class="mt-4"><span class="material-symbols-outlined text-primary">done_outline</span>
				Quan tâm tới chất lượng sống, môi trường và trách nhiệm xã hội.</p>
			<p><span class="material-symbols-outlined text-primary">done_outline</span>
 Tận hưởng cuộc sống trọn vẹn từng phút giây.</p>
		
		</div>
		<div class="col-md-6 col-lg-2 mt-4">
			<h6>Công ty</h6>
			<div class="footer-menu">
				<a href="#" class="nav-link">Về Thiên Lộc</a>
				<a href="#" class="nav-link">Dịch vụ</a>
				<a href="#" class="nav-link">Dự án</a>
				<a href="#" class="nav-link">Tin tức </a>
			</div>
			</div>	

<div class="col-md-6 col-lg-3 mt-4">
		<h6>Văn phòng trụ sở chính</h6>
	<p>92-94 tòa nhà ivyRich, đại lộ Nguyễn Văn Linh, P. Tân Hưng, Q.7, TPHCM	</p>
	<p>Email : info@ivyrich.com.vn	</p>
	<p>Điện thoại : (+028) 456 789 10	</p>
	</div>	

<div class="col-md-6 col-lg-4 mt-4">
	<h6>Đăng ký nhận bản tin</h6>
	<p>Kết nối với chúng tôi để theo dõi thông tin mới nhất.</p>
	<img src="/frontend/assets/img/logo/zalo_qr.JPG" alt="zalo_code" width="30%">	
		<!-- <form class="d-flex" method="post" id="sendMail">
			<input type="email" class="" placeholder="Địa chỉ email" name="email" >
			<button  type="submit" class="btn btn-primary">ĐĂNG KÝ</button>
		</form> -->
		<!-- <input type="email" class="" placeholder="Địa chỉ email" id="emailFooterInput" style="height: 40px;">
		<button onclick="emailFooter()" class="btn btn-primary">ĐĂNG KÝ</button> -->
	
		</div>
		</div>
	
	</div>
	
	
	
	</footer>