<header>
    
    <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top white-bg d-none d-md-block py-0">
                   <div class="container">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>     
                                        <li class="text-dark">Email : Shoestore367gmail.com</li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul class="header-social">    
                                        <div class="header-button" style=" width: 200px;height:45px; background-color:#263A5A; text-align: center;">
                                            <a href="tel:0326104536" class="" style="line-height: 45px;">
                                            <span>HOTLINE: 0326.104.536</span>
                                          </a>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
                <div class="header-mid d-none d-md-block py-0">
                   <div class="container">
                        <div class="row d-flex align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-3 col-lg-3 col-md-3">
                                <div class="logo">
                                    <a href="index.html"><img src="frontend/assets/img/logo/LOGO (3).png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9">
                                <div class="header-banner f-right ">
                                    <img src="frontend/assets/img/hero/header_card.jpg" alt="">
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
               <div class="header-bottom header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-10 col-lg-10 col-md-12 header-flex">
                                <!-- sticky -->
                                    <div class="sticky-logo">
                                        <a href="index.html"><img src="frontend/assets/img/logo/LOGO (3).png" alt=""></a>
                                    </div>
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-md-block">
                                    <nav >                  
                                        <ul id="navigation">    
                                            <li class="nav-item"><a href="/" class="nav-link" >Trang chủ</a></li>
                                            <li class="nav-item"><a href="/about" class="nav-link">Giới Thiệu</a></li>
                                            <li class="nav-item"><a href="/category" class="nav-link dropdown-toggle">Dịch Vụ Phát Tờ Rơi</a>
                                                <ul class="submenu">
                                                    <% itemsCategory.forEach((category) => { %>
                                                    <li><a href="elements.html"><%= category.name %></a></li>
                                                    <% })%>   
                                                </ul>
                                            </li>
                                            <li class="nav-item"><a href="/about" class="nav-link">Dịch Vụ In Ấn</a></li>
                                            <li class="nav-item"><a href="/latest_news.html" class="nav-link">Treo Băng Rôn</a></li>
                                            <li class="nav-item"><a href="/contact.html" class="nav-link">Liên Hệ</a></li>
                                            
                                        </ul>
                                        
                                    </nav>
                                </div>
                            </div>             
                            <div class="col-xl-2 col-lg-2 col-md-4">
                                <div class="header-right-btn f-right d-none d-lg-block">
                                    <i class="fas fa-search special-tag"></i>
                                    <div class="search-box">
                                        <form action="#">
                                            <input type="text" placeholder="Search">
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-md-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
</header>