<section id="hinhAnhHoatDong">
    <div class="container">
        
        <h2 class="section-title section-title-center">HÌNH ẢNH HOẠT ĐỘNG</h2>
        
        <div class="owl-carousel owl-theme owl-loaded py-4" id="imgSlider">
            
                    <div class="item">
                       <div style="width: 370px;" ><img src="frontend/assets/img/service/img-galery/10-phat-quang-cao_PZEX 1.png" alt="" class="w-100"><div class="box-text "><p>PHÁT TỜ RƠI CÓ CHỌN LỌC</p></div></div>
                    
                    </div>
                    <div class="item">
                        <div style="width: 370px;"><img src="frontend/assets/img/service/img-galery/bandoc12-1419519814456-1637897325393554952908 1.png" alt=""class="w-100"><div class="box-text"><p>PHÁT TỜ RƠI CÓ CHỌN LỌC</p></div></div>
                    
                    </div>
                    <div class="item">
                        <div style="width: 370px;" ><img src="frontend/assets/img/service/img-galery/dich-vu-phat-to-roi 1.png" alt="" class="w-100" ><div class="box-text"><p>PHÁT TỜ RƠI CÓ CHỌN LỌC</p></div></div>
                    
                    </div>
                    <div class="item">
                        <div style="width: 370px;" ><img src="frontend/assets/img/service/img-galery/in-to-roi3 1.png" alt="" class="w-100"><div class="box-text"><p>PHÁT TỜ RƠI CÓ CHỌN LỌC</p></div></div>
                    
                    </div>
                    <div class="item">
                        <div style="width: 370px;" ><img src="frontend/assets/img/service/img-galery/nen2 2.png" alt="" class="w-100"><div class="box-text"><p>PHÁT TỜ RƠI CÓ CHỌN LỌC</p></div></div>
                    
                   
                    </div>
                   
           
        </div>
    </div>

</section>