<section id="dichVuInAn">
    <div class="container">
        
        <h2 class="section-title section-title-center">DỊCH VỤ IN ẤN</h2>
        
        <div class="row py-5">
            <div class="col-md-6 col-lg-4">
                <div class="box-item">
                    <img src="frontend/assets/img/service/in-an/in-folder-28 1.png" alt="" class="w-100">
                    <div class="box-item-content">
                        <a href="#"><h5 class="m-0">BÌA ĐỰNG HỒ SƠ – FOLDER</h5></a>
                        <span style="font-size:11.52px">02/07/2022</span>
                        <div class="is-divider"></div>
                        <p>THÔNG SỐ CHUNG – In offset 4 màu. – Kích thước thành phẩm: 22x31cm, nắp cao 7cm. – Giấy C300, Briston 300gsm – Cán màng mờ/bóng, 1 mặt/2 mặt – Bế dán thành phẩm theo khuôn...					</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box-item">
                    <img src="frontend/assets/img/service/in-an/in-bao-thu-bi-thu-phong-bi-vinh-phat-600-13 1.png" alt="" class="w-100">
                    <div class="box-item-content">
                        <a href="#"><h5 class="m-0">IN BAO THƯ</h5></a>
                        <span style="font-size:11.52px">02/07/2022</span>
                        <div class="is-divider"></div>
                        <p>Bao thư ngoài chức năng chứa đựng thông tin, thư từ, tài liệu mà còn là một phần không thể thiếu trong bộ nhận diện thương hiệu. Vì thế bạn nên...					</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box-item">
                    <img src="frontend/assets/img/service/in-an/in-bao-bi.png" alt="" class="w-100">
                    <div class="box-item-content">
                        <a href="#"><h5 class="m-0">IN TÚI GIẤY</h5></a>
                        <span style="font-size:11.52px">02/07/2022</span>
                        <div class="is-divider"></div>
                        <p>In túi giấy bằng máy in offset chuẩn hệ 4 màu CMYK. Bế, dán thành phẩm túi giấy theo yêu cầu với nhiều hình dạng khác nhau. Chất liệu in túi giấy:...					</p>
                    </div>
                </div>
            </div>
        
           
           
        </div>
    </div>  
</section>