<section id="ourStory" >

    <div class="container story">
        <div class="row ">
            <div class="col-md-7">
                <div class="ourStory_content p-3 ">
                    <h2>Sứ mạng của chúng tôi : kiến tạo cộng đồng, vun đắp niềm vui</h2>
                    <p>Thiết kế Logo và nhận diện thương hiệu là yếu tố quan trọng đầu tiên khi doanh nghiệp vừa
                        thành lập. Một thương hiệu ấn tượng, một logo sáng tạo sẽ góp phần xây dựng nên thương
                        hiệu vững chắc, chuyên nghiệp và riêng biệt. <br><br><span class="ipad-none">Kiến Vua
                            Branding sẽ đồng hành cùng bạn trong quá trình khởi tạo thương hiệu và phát triển
                            công ty. Với đội ngũ thiết kế và phát triển thương hiệu chuyên nghiệp, Kiến Vua cam
                            kết sẽ mang lại sự ấn tượng, nét riêng biệt cho thương hiệu của bạn. </span></p>

                            <div style="margin-top: 100px;" class="lien-he">
                            <h6>Liên hệ </h6>
                            
                            <p>Email : info@ivyrich.com.vn	</p>
                            <p>Điện thoại : (+028) 456 789 10	</p>
                            </div>	
                </div>
            </div>

            <div class="col-md-5">
                <div class="our-story-img">
                    <div class="row">
                        <div class="col-md-2 ">
                            <div class="ten-years-border"></div>
                            <div class="ten-years-content-number">10</div>
                            <div class="ten-years-content-text">NĂM KINH NGHIỆM</div>
                            <div class="ten-years-patten"></div>

                        </div>
                        <div class="col-md-10 p-3"><img src="/frontend/assets/img/our-story/our-story.png" alt="" class="w-100"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>