<section id="dichVuPhatToRoi">
    <div class="container">
        
        <h2 class="section-title section-title-center">DỊCH VỤ PHÁT TỜ RƠI</h2>
        
        <div class="row py-5">
            <div class="col-md-6 col-lg-4">
                <div class="box-item">
                    <img src="frontend/assets/img/service/phat-to-roi/top-dich-vu-phat-to-roi-quang-cao-uy-tin-gia-re-hcm-4 1.png" alt="" class="w-100">
                    <div class="box-item-content">
                        <a href="#"><h5 class="m-0">DỊCH VỤ PHÁT TỜ RƠI CÓ CHỌN LỌC</h5></a>
                        <span style="font-size:11.52px">02/07/2022</span>
                        <div class="is-divider"></div>
                        <p>Bạn đang có sản phẩm mới và muốn đưa chúng ra thị trường tiêu dùng? Bạn muốn thu hút sự chú ý và quan tâm của nhiều người đến sản...					</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box-item">
                    <img src="frontend/assets/img/service/phat-to-roi/phat-to-roi-dan-quang-cao-co-bi-xu-phat-khong_2805141239 1.png" alt="" class="w-100">
                    <div class="box-item-content">
                        <a href="#"><h5 class="m-0">DỊCH VỤ PHÁT TỜ RƠI KHU CÔNG NGHIỆP</h5></a>
                        <span style="font-size:11.52px">02/07/2022</span>
                        <div class="is-divider"></div>
                        <p>Bạn đang có sản phẩm mới và muốn đưa chúng ra thị trường tiêu dùng? Bạn muốn thu hút sự chú ý và quan tâm của nhiều người đến sản...					</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box-item">
                    <img src="frontend/assets/img/service/phat-to-roi/quang-cao-lcd-cua-my-koreno-1 1.png" alt="" class="w-100">
                    <div class="box-item-content">
                        <a href="#"><h5 class="m-0">DỊCH VỤ PHÁT TỜ RƠI SIÊU THỊ</h5></a>
                        <span style="font-size:11.52px">02/07/2022</span>
                        <div class="is-divider"></div>
                        <p>Phát tờ rơi có nhiều ưu điểm nổi bậc so với các hình thức tiếp thị trực tuyến khác, tiết kiệm được chi phí thực hiện và thời gian thực...					</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box-item">
                    <img src="frontend/assets/img/service/phat-to-roi/to-roi 1.png" alt="" class="w-100">
                    <div class="box-item-content">
                        <a href="#"><h5 class="m-0">DỊCH VỤ PHÁT TỜ RƠI CÔNG SỞ</h5></a>
                        <span style="font-size:11.52px">02/07/2022</span>
                        <div class="is-divider"></div>
                        <p>Bạn đang có sản phẩm mới và muốn đưa chúng ra thị trường tiêu dùng? Bạn muốn thu hút sự chú ý và quan tâm của nhiều người đến sản...					</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box-item">
                    <img src="frontend/assets/img/service/phat-to-roi/in-to-roi 1.png" alt="" class="w-100">
                    <div class="box-item-content">
                        <a href="#"><h5 class="m-0">IN TỜ RƠI – TỜ GẤP</h5></a>
                        <span style="font-size:11.52px">02/07/2022</span>
                        <div class="is-divider"></div>
                        <p>Bạn đang có sản phẩm mới và muốn đưa chúng ra thị trường tiêu dùng? Bạn muốn thu hút sự chú ý và quan tâm của nhiều người đến sản...					</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box-item">
                    <img src="frontend/assets/img/service/phat-to-roi/dich-vu-phat-to-roi 1.png" alt="" class="w-100">
                    <div class="box-item-content">
                       <a href="#"><h5 class="m-0">DỊCH VỤ PHÁT TỜ RƠI TRƯỜNG HỌC</h5></a> 
                        <span style="font-size:11.52px">02/07/2022</span>
                        <div class="is-divider"></div>
                        <p>Bạn đang có sản phẩm mới và muốn đưa chúng ra thị trường tiêu dùng? Bạn muốn thu hút sự chú ý và quan tâm của nhiều người đến sản...					</p>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>