<section style="background-color:#0D1020 " class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <div class="service-item text-center">
                    <img src="frontend/assets/img/service/tam-nhin_1-80x80-1.png" alt="" width="60px">
                    <h3>DỊCH VỤ</h3>
                    <p>Với nhiều năm trong lĩnh vực tiếp thị sản phẩm bằng hình thức phát tờ rơi TpHCM, chúng tôi tích lũy được nhiều kinh nghiệm và kỹ năng trong quá trình thực hiện chiến dịch phát tờ rơi.</p>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="service-item text-center">
                    <img src="frontend/assets/img/service/su-menh_1-80x80-1.png" alt="" width="60px">
                    <h3>CAM KẾT</h3>
                    <p>Cung cấp các dịch vụ với chất lượng tốt nhất, giá trị chất lượng đạt đến mức tối đa , đa dạng nhu cầu của khách hàng, Phát theo yêu cầu của khách hàng, Đúng lúc khách hàng có tụ điểm theo yêu cầu</p>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="service-item text-center">
                    <img src="frontend/assets/img/service/may-photocopy-uy-tin-150x150.png" alt="" width="60px">
                    <h3>SỨ MỆNH</h3>
                    <p>Lấy chữ tín, Tâm là một trong những nền tảng quan trọng trong kinh doanh, thượng tôn pháp luật và duy trì đạo đức nghề nghiệp, Đến với chúng tôi, bạn có thể tìm thấy mong muốn và phù hợp nhất với bản thân</p>
                </div>
            </div>
        </div>
    </div>
</section>