<section id="dichvu">
    <div class="section-tittle">
        <div class="container text-center">
            <div class="border-tittle"></div>
            <h3>DỊCH VỤ</h3>
            <h2>Chuyên nghiệp, nhân văn</h2>
        </div>
    </div>
    <div class="service">
        <div class="container">
            <div class="row ">
                <div class="col-md-6 col-lg-4 my-3">
                    <div class="service-item">
                        <img src="frontend/assets/img/services/service.png " class="w-100 ">
                        <div class="service-item-content">
                            <div class="service-item-symbol align-items-center d-flex justify-content-center">
                                <img src="frontend/assets/img/services/symbol.png" alt="" class="w-80"></div>
                            <h5 class="my-3"><a href="baiviet1.html">Bộ nhận diện thương hiệu</a></h5>

                            <p>Ứng dụng các công nghệ cao cấp tân tiến nhất thị trường - nổi bật với hệ sinh
                                thái thông minh toàn diện. </p>
                            <p><a href="baiviet1.html ">Xem thêm</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 my-3">
                    <div class="service-item">
                        <img src="frontend/assets/img/services/service-logo.png" class="w-100">
                        <div class="service-item-content">
                            <div class="service-item-symbol align-items-center d-flex justify-content-center">
                                <img src="frontend/assets/img/services/symbol.png" alt="" class="w-80"></div>
                            <h5 class="my-3"><a href="baiviet1.html">Thiết kế logo</a></h5>

                            <p>Ứng dụng các công nghệ cao cấp tân tiến nhất thị trường - nổi bật với hệ sinh
                                thái thông minh toàn diện. </p>
                            <p><a href="baiviet1.html ">Xem thêm</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 my-3">
                    <div class="service-item">
                        <img src="frontend/assets/img/services/service-packing.png" class="w-100">
                        <div class="service-item-content">
                            <div class="service-item-symbol align-items-center d-flex justify-content-center">
                                <img src="frontend/assets/img/services/symbol.png" alt="" class="w-80"></div>
                            <h5 class="my-3"><a href="baiviet1.html">Thiết kế bao bì sản phẩm</a></h5>

                            <p>Ứng dụng các công nghệ cao cấp tân tiến nhất thị trường - nổi bật với hệ sinh
                                thái thông minh toàn diện. </p>
                            <p><a href="baiviet1.html ">Xem thêm</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 my-3 d-lg-none">
                    <div class="service-item">
                        <img src="frontend/assets/img/services/service-cv.png" class="w-100">
                        <div class="service-item-content">
                            <div class="service-item-symbol align-items-center d-flex justify-content-center">
                                <img src="frontend/assets/img/services/symbol.png" alt="" class="w-80"></div>
                            <h5 class="my-3"><a href="baiviet1.html">Thiết kế cv portfolio</a></h5>

                            <p>Ứng dụng các công nghệ cao cấp tân tiến nhất thị trường - nổi bật với hệ sinh
                                thái thông minh toàn diện. </p>
                            <p><a href="baiviet1.html ">Xem thêm</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>