<div class="page-tilte"> 
	
    <h3 class="text-center">Đồng Hành Trên Hành Trình<br>
      Đi Đến Sự Thịnh Vượng</h3>
    
  </div>
  <div class="container py-4">
    <div class="row">
		<!-- InstanceBeginEditable name="NOIDUNG" -->
		
      <div class="col-md-8">
		  <div class="service">
        <div class="row">
          <div class="col-md-6 my-3">
							<div class="service-item">
								<img src="/frontend/assets/img/blog/blog (1).png " class="w-100 ">
								<div class="service-item-content">
									<div
										style="background-color: #C48C46; display: inline-block; padding: 5px 20px; position: absolute; top: -20px; left:0;">
										<p class="m-0" style="color: white;">THIẾT KẾ</p>
									</div>
									<h5 class="my-3"><a href="baiviet1.html">Căn hộ, shophouse mẫu- thành phố thông minh
										</a></h5>

									<p>
										Ứng dụng các công nghệ cao cấp tân tiến nhất thị trường - nổi bật với hệ sinh
										thái thông minh toàn diện. </p>
									<p><a href="baiviet1.html ">Xem thêm</a></p>
								</div>
							</div>
						</div>
		<div class="col-md-6 my-3">
							<div class="service-item">
								<img src="/frontend/assets/img/blog/blog (1).png " class="w-100 ">
								<div class="service-item-content">
									<div
										style="background-color: #C48C46; display: inline-block; padding: 5px 20px; position: absolute; top: -20px; left:0;">
										<p class="m-0" style="color: white;">THIẾT KẾ</p>
									</div>
									<h5 class="my-3"><a href="baiviet1.html">Căn hộ, shophouse mẫu- thành phố thông minh
										</a></h5>

									<p>
										Ứng dụng các công nghệ cao cấp tân tiến nhất thị trường - nổi bật với hệ sinh
										thái thông minh toàn diện. </p>
									<p><a href="baiviet1.html ">Xem thêm</a></p>
								</div>
							</div>
						</div>
			<div class="col-md-6 my-3">
							<div class="service-item">
								<img src="/frontend/assets/img/blog/blog (1).png " class="w-100 ">
								<div class="service-item-content">
									<div
										style="background-color: #C48C46; display: inline-block; padding: 5px 20px; position: absolute; top: -20px; left:0;">
										<p class="m-0" style="color: white;">THIẾT KẾ</p>
									</div>
									<h5 class="my-3"><a href="baiviet1.html">Căn hộ, shophouse mẫu- thành phố thông minh
										</a></h5>

									<p>
										Ứng dụng các công nghệ cao cấp tân tiến nhất thị trường - nổi bật với hệ sinh
										thái thông minh toàn diện. </p>
									<p><a href="baiviet1.html ">Xem thêm</a></p>
								</div>
							</div>
						</div>
			<div class="col-md-6 my-3">
							<div class="service-item">
								<img src="/frontend/assets/img/blog/blog (1).png " class="w-100 ">
								<div class="service-item-content">
									<div
										style="background-color: #C48C46; display: inline-block; padding: 5px 20px; position: absolute; top: -20px; left:0;">
										<p class="m-0" style="color: white;">THIẾT KẾ</p>
									</div>
									<h5 class="my-3"><a href="baiviet1.html">Căn hộ, shophouse mẫu- thành phố thông minh
										</a></h5>

									<p>
										Ứng dụng các công nghệ cao cấp tân tiến nhất thị trường - nổi bật với hệ sinh
										thái thông minh toàn diện. </p>
									<p><a href="baiviet1.html ">Xem thêm</a></p>
								</div>
							</div>
						</div>
        </div>
      	</div>
		  </div>
      <!-- InstanceEndEditable -->
      <aside class="col-md-4">
		  <form>
		  <div class="input-group">
    <input type="text" class="form-control" placeholder="Tìm kiếm">
			  <button type="submit" class="input-group-text  btn btn-primary">
				  <span class="material-symbols-outlined ">search</span></button> 

  </div>
		  </form>
			<div class="aside-menu my-3">
		  <h5>Lĩnh vực</h5>
				<ul class="nav flex-column">
					<% itemsCategory.forEach((category) => { %>
                       
						<li class="nav-item"><a href="/category/<%= category.id %>" class="nav-link"><%= category.name %></a></li>
                        <% })%>
					
				
				</ul>
		   </div>
		<div class="my-4">
		  <h5>Bài đăng gần đây</h5>
			<div class="row py-2 border-bottom">
			<div class="col-4"><img src="/frontend/assets/img/blog/dichvu%20(1).jpg" class="img-fluid"></div>
			<div class="col-8"><a href="#">Ra mắt tổ hợp du lịch nghĩ dưỡng biển</a></div>
			</div>
			<div class="row py-2 border-bottom">
			<div class="col-4"><img src="/frontend/assets/img/blog/dichvu%20(2).jpg" class="img-fluid"></div>
			<div class="col-8"><a href="#">Bãi biển lướt sóng thể thao duy nhất Việt Nam</a></div>
			</div>
			<div class="row py-2 border-bottom">
			<div class="col-4"><img src="/frontend/assets/img/blog/dichvu%20(3).jpg" class="img-fluid"></div>
			<div class="col-8"><a href="#">Xu hướng thiết kế cho không gian nhỏ 2019</a></div>
			</div>
			
		  
		  </div>
		  <div class="my-4">
		  <h5>Từ khóa</h5>
			  <div class="d-flex flex-wrap">
			  <a href="#" class="bg-primary p-2 m-1">Kiến trúc</a>
				   <a href="#" class="bg-primary p-2 m-1">Kiến trúc</a>
				  <a href="#" class="bg-primary p-2 m-1">Cảnh quan</a>
				  <a href="#" class="bg-primary p-2 m-1">Kiến trúc</a>
				  <a href="#" class="bg-primary p-2 m-1">Môi trường</a>
				  <a href="#" class="bg-primary p-2 m-1">Công trình</a>
			  
			  </div>
		  
		  </div>
		
		</aside>
    </div>
  </div>