<!doctype html>
<html class="no-js" lang="zxx">
    <head>
       <% include ./elements/head %>
   </head>

   <body>
       
    <!-- Preloader Start -->
    <!-- <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="frontend/assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div> -->
    <!-- Preloader Start -->

   
        <% include ./elements/header %>
    

    <main>
    <!-- Trending Area Start -->
               
    
    <!-- Trending Area End -->
    <!--   Weekly-News start -->
      
    <!-- End Weekly-News -->
     <!--================Blog Area =================-->
     <section class="blog_area single-post-area section-padding">
        <div class="container">
           <div class="row">
            <%- body %>
            <% if(sildebarFilter== true){ %>
                <% include ./elements/sildebar-filter %>
            <% } %> 
           </div>
        </div>
     </section>
    <!--   Weekly2-News start -->
          
    <!-- End Weekly-News -->
    <!-- Start Youtube -->
   
    <!-- End Start youtube -->
    <!--  Recent Articles start -->
    <% if(recentArticles== true){ %>
        <% include ./elements/recent-articles %>
    <% } %>     
    <!--Recent Articles End -->
    <!--Start pagination -->
    <% if(paginationArea== true){ %>
        <% include ./elements/pagination-area %>
    <% } %>  
    <!-- End pagination  -->
    </main>
    
  <% include ./elements/footer %>
   
	<!-- JS here -->
	
		<% include ./elements/script %>
        
    </body>
</html>