<!doctype html>
<html class="no-js" lang="zxx">
    <head>
       <% include ./elements/head %>
   </head>

   <body>
        <% include ./elements/header %>
    

    <main>
        
        <%-body %>
        
    </main>
    
  <% include ./elements/footer %>
   
	<!-- JS here -->
	
		<% include ./elements/script %>
        
    </body>
</html>