<%  
    let arrBox = [
        {name: 'Items', icon: 'ion-pricetag', bg:'bg-info',link: `${systemConfig.prefixAdmin}/items`, total: countItems},
        {name: 'Slider', icon: 'ion-laptop', bg:'bg-success',link: `${systemConfig.prefixAdmin}/slider`, total: countSlider},
        <!-- {name: 'Users', icon: 'ion-ios-person', bg:'bg-danger', link: `${systemConfig.prefixAdmin}/users`, total: countUsers}, -->
        {name: 'Articles', icon: 'ion-ios-paper-outline', bg:'bg-warning', link: `${systemConfig.prefixAdmin}/articles`, total: countArticles},
        {name: 'Categories', icon: 'ion-ios-folder-outline', bg:'bg-dark', link: `${systemConfig.prefixAdmin}/categories`, total: countCategories},
        <!-- {name: 'Groups', icon: 'ion-ios-people',  bg:'bg-secondary',link: `${systemConfig.prefixAdmin}/groups`, total: countGroups}, -->
        {name: 'Product', icon: 'ion-folder',  bg:'bg-secondary',link: `${systemConfig.prefixAdmin}/product`, total: countProduct},
        {name: 'Service', icon: 'ion-folder',  bg:'bg-danger',link: `${systemConfig.prefixAdmin}/service`, total: countService},
    ];

    let xhtmlBox = '<div class="row">';
    arrBox.forEach(box => {
        xhtmlBox += `<div class="col-lg-3 col-6">
                        <div class="small-box ${box.bg}">
                            <div class="inner">
                                <h3>${box.total}</h3>
                                <p>${box.name}</p>
                            </div>
                            <div class="icon text-white">
                                <i class="ion ${box.icon}"></i>
                            </div>
                            <a href="${box.link}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>`;
    }); 
    xhtmlBox += '</div>'  
%>

<%- xhtmlBox %>